* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*? For debug overflow */
  /* outline: 1px solid rgba(255, 0, 0, 0.15); */
}

body {
  font-family: "Poppins", "Hanuman", Arial;
  -webkit-print-color-adjust: exact; /* Ensures colors/backgrounds show up */
  print-color-adjust: exact;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", "Hanuman", Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Poppins", "Hanuman", Arial;
}

@font-face {
  font-family: "Hanuman";
  src: url(./assets/fonts/hanuman/Hanuman-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

/*? === Global scrollbar === */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  width: 6px;
  height: 4px;
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 24px;
}

/*? React to Print */
@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  .a4-print {
    display: flex !important;
    /* width: 210mm;
    height: 297mm; */
  }
}

@keyframes scale-in {
  from {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  25% {
    transform: translateX(30px);
    opacity: 0.3;
  }
  50% {
    transform: translateX(10px);
    opacity: 0.6;
  }
  75% {
    transform: translateX(-5px);
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

.a4-paper {
  animation: scale-in 0.5s ease-out forwards;
}

.a4-paper > .info,
.a4-paper > .detail {
  animation: scale-in 0.8s ease-out forwards;
}

.a4-paper > .info > *,
.a4-paper > .detail > * {
  animation: scale-in 1.5s ease-out forwards;
}

.contact-button {
  animation: bounce-left 500ms ease-out forwards;
}

.print-button {
  animation: bounce-left 600ms ease-out forwards;
}
